.topFixed {
    width: 100%;
    height: 64px;
    background-color: var(--white_soft);
    font-size: 24px;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .topFixed {
        height: 41px;
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .topFixed {
        height: 39px;
        font-size: 14px;
        /* Adicionado para melhor ajuste em telas muito pequenas */
    }
}